<div align="center">
	<h5 style="font-weight: 800;">{{instructorName}}</h5>
	<h5 style="font-weight: 800;">{{channelName}}</h5>
	<h6>Current Session ID</h6>
	<h5 style="font-weight: 800;">'{{sessionID}}'</h5>
</div>
<a href="/channel/leave?channelID={{sessionID}}&participantID={{participantID}}"><button
		id="leave-button">Leave</button></a>


<div class="container login-container">
	<main class="grid">
		<img id="img1">
		<img id="img2">
		<img id="img3">
		<img id="img4">
		<img id="img5">
		<img id="img6">
	</main>
</div>