<div align="center">
	<h5 style="font-weight: 800;">{{instructorName}}</h5>
	<h5 style="font-weight: 800;">{{channelName}}</h5>
	<h6>Current Session ID</h6>
	<h5 style="font-weight: 800;">'{{sessionID}}'</h5>
</div>
<a href="/channel/leave?channelID={{sessionID}}&participantID={{participantID}}"><button
		id="leave-button">Leave</button></a>


<div class="container login-container">
	<div class="container grid-one" align="center">
		<div class="image-grid-container" id="grid-one"></div>
	</div>
	<div class="container" class="grid-two" align="center">
		<div class="image-grid-container" id="grid-two"></div>
	</div>
	<a class="border rounded d-inline scroll-to-top" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>
</div>